:root {
  --background: #1A0A15;
  --heading: #F26ECA;
  --fill: #F26ECA;
  --foreground: #F1B8E0;
  --border-color: #F059C3;
  --layout-border: dashed var(--border-color) 1px;
  --button-text: #7D075A;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  background: var(--background);
  color: var(--foreground);
}

* {
  z-index: 0;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 0.75em;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  
  background: var(--smooth-background-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: var(--background);
  border: 2px solid var(--foreground);
}

h1,
h2,
h3 {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: var(--heading);
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

span,
a,
p,
button {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: var(--fill);
  color: var(--button-text);

  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

input,
textarea {
  border: 0;

  padding: 0.25em 0.5em;
  border-radius: 0.25em 0.5em;
  
  width: 10em;

  max-width: 30em;
  min-width: 10em;
}

textarea {
  width: 10em;
  
  max-width: 30em;
  max-height: 10em;
  min-height: 3em;
  min-width: 10em;
}

header, footer {
  z-index: 1;
  position: fixed;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 0.75em 2em;

  height: 76px;
  width: 100%;
}

header {
  top: 0;

  border-bottom: var(--layout-border);
}

footer {
  bottom: 0;
  
  border-top: var(--layout-border);
}

main {
  z-index: 0;

  position: absolute;

  width: 100%;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 0.75em 2em;

  margin: 76px 0;
  height: calc(100% - 152px);
}

.page-center {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}