@import "tailwindcss";

:root {
  --background: #1A0A15;
  --heading: #F26ECA;
  --text: #F1B8E0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header, footer {
  z-index: 1;
  position: fixed;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 0.75em 2em;

  height: 76px;
  width: 100%;

  background: #00000080;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

main {
  z-index: 0;

  position: absolute;

  width: 100%;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 0.75em 2em;

  margin: 76px 0;
  height: calc(100% - 152px);
}
