@import "tailwindcss";

:root {
  --background: #1A0A15;
  --heading: #F26ECA;
  --text: #F1B8E0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  z-index: 0;

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 0.75em;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  
  background: var(--smooth-background-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: var(--background);
  border: 2px solid var(--mini-text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

span,
a,
p,
button {
  font-size: 16px;
}

button {
  cursor: pointer;
  border: 0;
  background-color: inherit;
}

input,
textarea {
  border: 0;

  padding: 0.25em 0.5em;
  border-radius: 0.25em 0.5em;
  
  width: 10em;

  max-width: 30em;
  min-width: 10em;
}

textarea {
  width: 10em;
  
  max-width: 30em;
  max-height: 10em;
  min-height: 3em;
  min-width: 10em;
}

header, footer {
  z-index: 1;
  position: fixed;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 0.75em 2em;

  height: 76px;
  width: 100%;

  background: #00000080;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

main {
  z-index: 0;

  position: absolute;

  width: 100%;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 0.75em 2em;

  margin: 76px 0;
  height: calc(100% - 152px);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}