.settings {
  display: flex;
  flex-direction: column;
  gap: 32px;

  justify-content: center;
  align-items: center;

  min-width: 300px;
  height: 100%;
}

.settings section,
.variants,
.text {
  display: flex;
  flex-direction: column;

  gap: 12px;
  
  align-items: center;
  justify-content: center;
}

.variants_to_choose {
  display: flex;
  flex-direction: row;
  gap: 8px;
}